<ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-icon">
        Back
    </ion-nav-back-button>
</ion-nav-bar>
<ion-view title="Item">
    <ion-content>
        <div class="list card">

            <div class="item item-avatar">
                <img src="{{value.icon}}">
                <h2>{{value.from.name}}</h2>
                <p>{{value.created_time | date:shortTime}}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" src="{{value.picture}}">
                <p>
                    {{value.message}}
                </p>
                <p>
                    <a href="#" class="subdued">{{value.likes.data.length}} Like</a>
                    <a href="#" class="subdued">{{value.comments.data.length}} Comments</a>
                </p>
            </div>
            <ion-list>
                <div ng-repeat="group in value.comments.data">
                    <ion-item class="item-stable"
                              ng-click="toggleGroup(group)"
                              ng-class="{active: isGroupShown(group)}">
                        <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                        &nbsp;
                        {{group.from.name}}
                    </ion-item>
                    <ion-item class="item-accordion"
                              ng-show="isGroupShown(group)">
                        <pre>{{group.message}}</pre><br/>
                        <div ng-if="group.attachment">
                            <div ng-switch on="group.attachment.type">
                                <div ng-switch-when="photo">
                                    <img src="{{group.attachment.media.image.src}}" width="100%" height="100%"/>
                                </div>
                                <div ng-switch-when="share">
                                    <a href="{{group.attachment.target.url}}">Link</a><br/>
                                    <img src="{{group.attachment.media.image.src}}" width="100%" height="100%"/>
                                </div>
                            </div>

                        </div>
                        <p>
                            {{group.like_count}} Like
                        </p>
                         </ion-item>
                </div>
                {{message}}
            </ion-list>


        </div>
    </ion-content>
</ion-view>